html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* html5 element block*/
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
  background-color: #002A3E;
  color: #FFF;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

h1, h2, h3 { 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #FFF;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #00E6FF;
}

a:hover { 
  text-decoration: none;
}

img{
  margin-left:25%;
}
#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 50px auto;
  width: 1000px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border: 13px 13px 13px 13px;
  background: transparent url(../images/main.png);
  padding-bottom: 30px;
}

header { 
  background: transparent;
  height: 179px;
}

#logo { 
  width: 930px;
  height: 135px;
  background: transparent;
  color: #888;
  padding: 0;
}

#logo h1, #logo h2 { 
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 20px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

nav { 
  height: 44px;
  width: 930px;
  margin: -34px auto 0 auto;
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  color: #FFF;
  border: solid 1px #003B56;
  background: #002A3E;
} 

#menu_container { 
  width: 930px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 930px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 15px 0;
}

/* alignement des 3 divs */
#content_box {
	clear: both;
	width: 940px;
	height: 90px;
}

#center_box {
	clear: both;
	width: 940px;
	height: 150px;
	margin-left:330px;
}

.box { 
        float: left; 
        width: 230px; 
        height: 40px; 
        padding: 20px; 
        margin-right: 20px; 
        background: #22003C;
        -webkit-border-radius: 13px 13px 13px 13px; 
        -moz-border-radius: 13px 13px 13px 13px;
        border-radius: 13px 13px 13px 13px;
        opacity: 0.8;
        font-size: 20px; 
        text-align: center;
}
/* fin alignement 3 divs */
.small_box { 
      background: none repeat scroll 0 0 #22003C;
      border-radius: 13px 13px 13px 13px;
      float: left;
      font-size: 14px;
      height: 30px;
      margin-right: 20px;
      opacity: 0.8;
      padding: 15px;
      text-align: center;
      width: 95px;
}

#evaluation { 
  width: 925px;
  padding: 5px 0 20px 0;
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  color: #000;
  border: solid 1px #A0A0A0;
  background: #FFF;
}

.content h1 { 
  padding: 5px 15px 20px 0;
  text-shadow:  #000 1px 1px;
  margin: 0 1px;
  color: #FFF;
}

.content_item { 
  padding: 15px 0;
}

.paperclip { 
  float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}

.content { 
  text-align: left;
 /* width: 630px;*/
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li{ 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

/* Fichier CSS */

label.validation-error {
     color: #990000;
}

.btn{
     font-family: Arial,sans-serif;
     font-size: 1.6em;
     width: 200px;
     height: 43px;
     /*padding-top: 0px;*/
     text-align: center;
     color: #fff;
     background: #444;
     background: -webkit-linear-gradient( #555, #2C2C2C);
     background:    -moz-linear-gradient( #555, #2C2C2C);
     background:     -ms-linear-gradient( #555, #2C2C2C);
     background:      -o-linear-gradient( #555, #2C2C2C);
     background:         linear-gradient( #555, #2C2C2C);
     border-radius: 8px;
     text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
     box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

.btn:hover{
     color: #C0C0C0;
     background: #555;
     background: -webkit-linear-gradient( #777, #333);
     background:    -moz-linear-gradient( #777, #333);
     background:     -ms-linear-gradient( #777, #333);
     background:      -o-linear-gradient( #777, #333);
     background:         linear-gradient( #777, #333);
}

.identification{
     margin:0 0 0 0;
     
}
/* questions QCM */
.item_title {
    margin: 0 0 10px;
}
/* #end QCM */

/* box exo os superieur/inferieur */
#content_box_exo {
        clear: both;
        width: 940px;
        height:300px;
}
.box_exo {
    background: none repeat scroll 0 0 #22003C;
    border-radius: 13px 13px 13px 13px;
    float: left;
    font-size: 20px;
    height: 200px;
    margin-right: 20px;
    opacity: 0.6;
    padding: 20px;
    text-align: center;
    width: 410px;
}
/* #end box exo os superieur/inferieur */

.link{
        color:#0000ff;
        cursor:pointer;
}
.link:hover
{
        text-decoration:underline;
}

.drag{
        cursor:pointer;
}

footer { 
  width: 930px;
  height: 15px;
  padding: 5px 0 20px 0;
  text-align: center; 
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  color: #FFF;
  border: solid 1px #003B56;
  background: #002A3E;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-shadow: none;
  text-decoration: underline;
}
